 <!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-bold ">FenomeN</p>
    <nav class="my-2 my-md-0 me-md-3">
      <span class="p-2 text-dark"><%= link_to "Главная страница", home_path %> </span>
      <span class="p-2 text-dark"><%= link_to "Про нас", about_path %> </span>
    </nav>
    <span class="btn btn-outline-primary"><%= link_to "Добавление постов", new_post_path %></span>
    <!--devise-->
    <%= render 'include/auth/auth_header' %>
    <!--devise-->
    <div class="jumbotron vertical-center">
      <div class="container">
        <%= render 'include/main/notification' %>
      </div>
    </div>
  </header>
  <div class="container"
       <%= yield %>
  </div>
  </body>
</html>
